/* font-Titrbold */
@font-face {
    font-family: Titrbold;
    src: url('font/titrbold.eot');
    src: url('font/titrbold.eot?#iefix') format('embedded-opentype'),
    url('font/titrbold.woff') format('woff'),
    url('font/titrbold.ttf') format('truetype');
    font-weight: normal;
}


/* font-Traffic */
@font-face {
    font-family: Traffic;
    src: url('font/traffic.eot');
    src: url('font/traffic.eot?#iefix') format('embedded-opentype'),
    url('font/traffic.woff') format('woff'),
    url('font/traffic.ttf') format('truetype');
    font-weight: normal;
}

.btn {
    background: #00cccb;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: .95rem;
    font-family: Traffic, serif;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .3s, background .3s, color .3s;
    color: #fff;
    -webkit-appearance: none !important;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #aaa;
    margin-left: 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #00cccb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Double-color dashed line */

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}